<div class="container">
    <!-- BOTS LIST -->
    <h2>{{"app.title" | translate}}</h2>
    <h3>{{"app.description" | translate}}</h3>
    <div class="button-sizes-group-container" style="align-items: center;">
      <div *ngFor="let bot of bots; let i = index" class="select-option pizza-size" id="{{bot.botId}}"
        style="justify-content: center;">
        <input type="radio" name="bot" [value]="bot.botId" (change)="selectBot(bot)" [checked]="formData.selectedBots.includes(bot.botId)">
        <div class="option-title">{{bot.botId}}</div>
      </div>
    </div>
</div>

<div class="modal-overlay" (click)="closeModal()" *ngIf="isModalOpen">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ "utils.order_task" | translate }}</h2>
    <form [formGroup]="form">
        <div class="form-group">
          <label for="name">{{ "utils.action_type" | translate }}</label>
          <select id="actionType" formControlName="taskType">
            <option *ngFor="let action of actionTypes" [value]="action.value">{{ "action.name" | translate }}</option>  
          </select>

          <label for="name">{{ "utils.values" | translate }}:</label>
          <div *ngFor="let val of formData.parameters; let i = index">
            <input type="text" [formControlName]="'value' + i" placeholder="Value {{i + 1}}" [value]="val" />
            <button type="button" (click)="removeValue(i)">{{ "utils.remove_value" | translate }}</button>
          </div>
          <button type="button" (click)="addValue()">{{ "utils.add_value" | translate }}</button>
        </div>
        <button type="submit" (click)="submitForm()">{{ "utils.submit" | translate }}</button>
    </form>
    <button (click)="closeModal()">{{ "utils.submit" | translate }}</button>
  </div>
</div>