<div class="container">
  <!-- BOTS LIST -->
  <div class="bot-container">
    <h2>{{"app.title" | translate}}</h2>
    <h3>{{"app.description" | translate}}</h3>
    <div class="bot-list-container" style="align-items: center;">
    <h3>{{"app.bot_list" | translate}}</h3>
      <table class="bot-list">
        <thead >
          <tr class="bot-list-header">
            <th>{{"utils.selected" | translate}} <input type="checkbox" (click)="selectAllBots()" ></th>
            <th>{{"app.bot_name" | translate}}</th>
            <th>{{"app.bot_actions" | translate}}</th>
          </tr>
        </thead>
        <tbody class="bot-list-body">
          <tr *ngFor="let bot of bots">
            <td><input type="checkbox" (click)="selectBot(bot.id)" [checked]="formData.selectedBots.includes(bot.id)" ></td>
            <td>{{bot.id}}</td>
            <td>
              <button (click)="openModal()">{{ "app.bot_actions_btn" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-overlay" (click)="closeModal()" *ngIf="isModalOpen">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ "utils.order_task" | translate }}</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">{{ "utils.action_type" | translate }}</label>
        <select id="actionType" formControlName="actionType">
          <option *ngFor="let action of actionTypes" [value]="action.value">{{ "action.name" | translate }}</option>
        </select>

        <label for="name">{{ "utils.values" | translate }}:</label>
        <div *ngFor="let val of formData.parameters; let i = index">
          <input type="text" [formControlName]="'value' + i" placeholder="Value {{i + 1}}" [value]="val" />
          <button type="button" (click)="removeValue(i)">{{ "utils.remove_value" | translate }}</button>
        </div>
        <button type="button" (click)="addValue()">{{ "utils.add_value" | translate }}</button>
      </div>
      <button type="submit" (click)="submitForm()">{{ "utils.submit" | translate }}</button>
    </form>
    <button (click)="closeModal()">{{ "utils.submit" | translate }}</button>
  </div>
</div>