:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow: auto;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    font-family: 'Arial', 'Comic Sans', cursive;
    background: linear-gradient(45deg, #97d2ff, #1457ff);
}


h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100dvw;
    height: 100dvh;
}


.bot-container {
    width: 40dvw;
    margin-top: 5dvh;
    height: 90dvh;
    text-align: center;
    background-color: rgba(0, 0, 150, 0.25);
    border: solid white 2px;
    border-radius: 20px;
    animation: gradientShift 2s alternate-reverse infinite;
}


.bot-list-container {
    width: 38dvw;
    margin-top: 2dvh;
    margin-left: 1dvw;
    height: 75dvh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid white 2px;
    border-radius: 20px;
    overflow: auto;
}

.bot-list{
    width : 100%;
    height: min-content;
}

.bot-list-header {
    background-color: rgba(0, 0, 150, 0.25);
    margin-top: 50px;
    border-radius: 20px;
}

.side {
    flex-grow: 1;
    flex-basis: 10em;
}

.center {
    flex-basis: 30em;
    padding: 1em;
    text-align: center;
}

@keyframes gradientShift {
    0% {
        background: rgba(0, 132, 209, 0.25);
    }
    100% {
        background: rgba(0, 132, 209, 0.5);
        font-weight: bold;
    }
}


/* MODAL */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.25s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
