<div class="container">
  <!-- BOTS LIST -->
  <div class="bot-container">
    <h2>{{"app.title" | translate}}</h2>
    <h3>{{"app.description" | translate}}</h3>
    <div class="bot-inner-container">
      <div class="bot-inner-header">
        <h3>{{"app.bot_list" | translate}}</h3>
        <!-- button to limit the results only to the last 5 min in task.lastSignal -->
        <button class="toggle-botlist-btn" (click)="toggleResultsTimeLimit()">
          {{ (filterCurrentBots ? "app.toggle_only-current_bots_on_btn" : "app.toggle_only-current_bots_off_btn") |
          translate }}
        </button>
        <!-- right button to open modal -->
        <button class="create-payload-btn" (click)="openPayloadGenModal()">
          {{ "app.create_actions_btn" | translate }}
        </button>
      </div>
      <div class="bot-list-container">
        <table class="bot-list">
          <thead>
            <tr class="bot-list-header">
              <th style="width: 10%;"><input type="checkbox" (click)="selectAllBots()" [(ngModel)]="allBotsSelected">
              </th>
              <th>{{"app.bot_name" | translate}}</th>
              <th style="width: 20%;">{{"app.bot_os" | translate}}</th>
              <th style="width: 20%;">{{"app.bot_last_signal" | translate}}</th>
              <th>{{"app.bot_actions" | translate}}</th>
            </tr>
          </thead>
          <tbody class="bot-list-body">
            <tr *ngFor="let bot of getCurrentBots()">
              <td style="width: 10%;"><input type="checkbox" (click)="selectBot(bot.id)"
                  [checked]="formData.selectedBots.includes(bot.id)">
              </td>
              <td>{{bot.id}}</td>
              <td style="width: 20%;">{{bot.name || 'unknown'}}</td>
              <td style="width: 20%;">{{ bot.lastSignal | date :'dd/MM/yyyy HH:mm' }}</td>
              <td>
                <button (click)="openActionsModal(bot.id)">{{ "app.bot_actions_btn" | translate }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="create-action-btn" (click)="openModal()" [disabled]="formData.selectedBots.length === 0">{{
        "app.create_actions_btn" | translate }}</button>
    </div>
  </div>
</div>

<!-- ACTION CREATION MODAL -->
<div class="modal-overlay" (click)="closeModal()" *ngIf="isModalOpen">
  <div class="modal-content small-modal-content" (click)="$event.stopPropagation()">
    <h2>{{ "app.create_actions_btn" | translate }}</h2>
    <div class="create-action-form-container">
      <form [formGroup]="form" class="create-action-form">
        <div class="flex-column">
          <label for="actionType">{{ "utils.action_type" | translate }}</label>
          <select id="actionType" formControlName="actionType" [(ngModel)]="formData.actionType"
            (change)="updateActionType($event)">
            <option value="" selected>{{ "utils.select_action_type" | translate }}</option>
            <option *ngFor="let action of actionTypes" [value]="action.value">{{ action.name | translate }}</option>
          </select>
        </div>

        <div class="flex-column">
          <div *ngIf="paramEntries.length > 0">
            <label>Parameters:</label>
            <div *ngFor="let entry of paramEntries; let i = index" class="parameter-entry">
              <label for="parameter_{{entry[0]}}" style="display: block;">{{ entry[0] }}:</label>
              <textarea id="parameter_{{entry[0]}}" type="text" class="text-area-input" [value]="entry[1]"
                (input)="updateMapValue($event, entry[0])">
              </textarea>
            </div>
          </div>
        </div>

        <div class="flex-row flex-space-between">
          <button (click)="closeModal()" class="close-action-btn">{{ "utils.close" | translate }}</button>
          <button type="submit" (click)="submitForm()" class="submit-action-btn">{{ "app.submit_action_btn" | translate
            }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- BOT TASKS VIEWER MODAL -->
<div class="modal-overlay" (click)="closeActionsModal()" *ngIf="isActionModalOpen">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ "utils.order_task" | translate }}</h2>
    <div class="form-group">
      <table class="task-list-container">
        <thead class="task-list-header">
          <tr class="">
            <th>{{"utils.action_type" | translate}}</th>
            <th>{{"utils.parameters" | translate}}</th>
            <th>{{"utils.result" | translate}}</th>
          </tr>
        </thead>
        <tbody class="task-list-body">
          <tr *ngFor="let task of selectedBot.tasks">
            <td style="text-align: center;">{{('utils.actionTypes.' + task.actionType) | translate}}</td>
            <td>
              <pre>{{task.parameters | json}}</pre>
            </td>
            <!-- Display text if result is string but display img if content is base64 format -->
            <td style="text-align: center;">
              <ng-container *ngIf="task.actionType == 'screenshot'">
                <ng-container *ngIf="checkObjectType(convertResult(task.result)) == 'string' && task.result.length > 0">
                  <img [src]="decodeBase64Img(task.result)" alt="Task Result" class="task-result-image"
                    (click)="downloadImage(task.result)" />
                </ng-container>
                <!-- if result object type is a list we iterate each and display image -->
                <ng-container *ngIf="checkObjectType(convertResult(task.result)) == 'array' && task.result.length > 0">
                  <div *ngFor="let img of convertResult(task.result)">
                    <img [src]="decodeBase64Img(img)" alt="Task Result" class="task-result-image"
                      (click)="downloadImage(img)" />
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!task.result || task.actionType == 'exec_script'">
                {{ task.result || 'No result returned' }}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex-row flex-space-between">
      <button (click)="closeActionsModal()" class="close-action-btn" style="width:100%">{{ "utils.close" | translate
        }}</button>
    </div>
  </div>
</div>

<!-- BOT PAYLOAD GENERATOR MODAL -->
<div class="modal-overlay" (click)="closePayloadGenModal()" *ngIf="isPayloadGenModalOpen">
  <div class="modal-content small-modal-content" (click)="$event.stopPropagation()">
    <h2>{{ "payload.title" | translate }}</h2>
    <div class="create-action-form-container">
      <form [formGroup]="payloadForm" class="generate-payload-form">
        <div class="flex-column">
          <label for="payloadType">{{ "payload.payload_type" | translate }}</label>
          <select id="payloadType" formControlName="payloadType" [(ngModel)]="payloadFormData.payloadType">
            <option value="" selected>{{ "utils.select_payload_type" | translate }}</option>
            <option *ngFor="let payload of payloadTypes" [value]="payload">{{ payload }}</option>
          </select>
        </div>

        <div class="flex-column">
          <label for="payloadUrl">{{ "payload.url_target" | translate }}</label>
          <input id="payloadUrl" formControlName="payloadUrl" [(ngModel)]="payloadFormData.payloadUrl" />
        </div>

        <div class="flex-row flex-space-between">
          <button (click)="closePayloadGenModal()" class="close-action-btn">{{ "utils.close" | translate }}</button>
          <button type="submit" (click)="submitPayloadForm()" class="submit-action-btn">{{
            "app.submit_generate_payload_btn" | translate
            }}</button>
        </div>
      </form>

    </div>
  </div>
</div>